*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
# Ignore everything in the folder
/app/release/*
/captures
.externalNativeBuild
.cxx
local.properties

